body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    padding: 20px;
}

h1 {
    text-align: center;
}

#userTableContainer {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}
button {
    margin: 2px;
    padding: 5px 10px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button.delete {
    background-color: #dc3545;
}

button.role {
    background-color: #ffc107;
    color: black;
}